/* Small Device Or Mobile Device Responsive */

@media screen and (max-width :600px) {
   body{
    margin: 0 auto;
    margin: 10px 20px;
   }
   .menu{
        display:inline;
    } 
    .nav-icon{
        display: none;
    }
    .nav-title{
        width: 100%;
    }
    .banner-content {
       margin: 0, auto;
        padding-top: 0px;
    }
    .banner-content h2{
        width: 100%;
        text-align: center;
        font-size: 1.37rem;
    }
    .banner-content p {
        text-align: center;
        width: 100%;
        justify-content: center;
        padding-left: 0px;
        font-size: 1rem;
        font-weight: 700;
    }
    .banner-input-field {
        flex-direction: column;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        
    }
    .banner-common-class {
        height: 45px;
        width: 250px;
        border-radius: 8px;
        background: #FFF;
        font-weight: 700;
        border: none;
    }

    /* main section responsive */
    /* section-1 responsive */

    .section-1{
        margin: 0 auto;
        flex-direction: column;
        gap: 15px;
        
    }
    .content-section{
        width: 90%;
    }
    .content-section h2{
        margin: 0 auto;
        font-size: 1.25rem;
        width: 100%;
    }
    .content-section p, ul{
        margin: 0 auto;
        width: 85%;
        font-size: 0.87rem;
    }
    .image-section img{
        margin: 0 auto;
        width: 100%;
    }



    /* section-2 style responsive */

    .section-2 h2{
        font-size: 1.25rem;
        
    }
    .section-2 p{
        font-size: 0.875rem;
       width: 90%;
    }
    .images-two{
        flex-direction: column;
        margin: 0, auto;
       
       
    }
    .images-two img{
        width: 100%;
    }
    .images-three{
        flex-direction: column;
        margin: 0, auto; 
       
    }
    .images-three .img-3{
        width: 100%;
    }
    .images-three .img-4{
        width: 100%;
    }
    .images-three .img-5{
        width: 100%;
    }
    .images-two .img-6{
        width: 100%;
    }
    .images-two .img-7{
        width: 100%;
    }

/* section 3 responsive */
.flex-card{
   flex-direction: column;
}
.card-1{
    width: 89%;
}
.card-2{
    width:89%;
}
.card-3{
    width:89%;
    margin-left: 0%;
}

}